@page
@model MvcMovieFrontOffice.Pages.ReservationBo.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ReservationView</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationView.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationView.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationView.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationView.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationView.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationView.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationView.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationView.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationView.VehicleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationView.VehicleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationView.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationView.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationView.make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationView.make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationView.availability)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationView.availability)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationView.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationView.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationView.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationView.FullName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ReservationView.ReservationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
